@tailwind base;
@tailwind components;
@tailwind utilities;

.w-35 {
  width: 70rem;
}

.task-info-list span {
  display: inline-flex;
  align-items: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.9;
}

.project-header h1 {
  margin-right: auto;
}
